header {
    background-color: navy;
    color: white;
    padding: 20px;
}

h1 {
    font-family: "Loos", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.locationtitle {
    font-family: "Loos", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color:cadetblue;
    align: center;
}
.footerimg {
    height: 150px;
    width: auto;
    padding: 0px;
    margin: 0px;
}

img {
    height: 250px;
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
    padding: 20px;
    align: center;
}

p {
    width: 500px;
    margin-left: 100px;
}
#Lookingback {
    margin-left: 100px;
}